package edu.pasadena.cs.cs03b;
import java.util.Random;
import java.util.Scanner;
public class GuessNumberGame {
    public static void main(String[] args) {
        Scanner scanner = new Scanner(System.in);
        System.out.println("Enter the number of digits for the random number:");
        int m = scanner.nextInt();
        int randomNumber = generateRandomNumber(m);
        int balance = 10; // Initial balance
        System.out.println("You have $" + balance + " to start. Each guess costs $1.");
        while (balance > 0) {
            System.out.println("Enter your guess:");
            int guess = scanner.nextInt();
            balance--;
            if (guess < randomNumber) {
                System.out.println("Guess a greater number.");
            } else if (guess > randomNumber) {
                System.out.println("Guess a smaller number.");
            } else {
                System.out.println("Congratulations! You've guessed the number: " + randomNumber);
                break;
            }
            System.out.println("Remaining Balance: $" + balance);
            if (balance <= 0) {
                System.out.println("You've run out of balance. Game over!");
            }
        }
        scanner.close();
    }
    private static int generateRandomNumber(int m) {
        Random random = new Random();
        return random.nextInt((int) Math.pow(10, m) - (int) Math.pow(10, m - 1)) + (int) Math.pow(10, m - 1);
    }

    public static String dummy() {
        return "This is a Dummy Test";
    }
}
